@CHARSET "UTF-8";

body {
	margin: 0px auto;
}

.wrap {
	margin: 0px auto;
	padding-top: 60px;
	width: 1200px;
}

/* *{
	margin:200px;
	padding:200px;
	
} */
#home {
	margin: 0px auto;
	font-size: 30px;
	text-align: left;
	line-height: 150%;
	font-family: 돋움;
	font-weight: bold;

}

#title{
	margin: 0px auto;
	margin-left : 120px;
	font-size: 30px;
	text-align: left;
	line-height: 150%;
	font-family: 돋움;
	font-weight: bold;
}

.result2 {
	margin: 0 auto;
	line-height: 150%;
	font-family: 돋움;
	font-weight: bold;
}

.result3 {
	/* margin: -50px 700px;
	 */
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 400px;
	line-height: 150%;
	font-family: 돋움;
	font-size: 35px;
	font-weight: bold;
}

#end {
	margin: 0 auto;
	font-size: 30px;
	line-height: 150%;
	font-family: 돋움;
	font-weight: bold;
}

.home {`
	margin-top: -230px
}

