@CHARSET "UTF-8";

body {
	margin: 0px auto;
}

#container {
	margin: 0px auto;
}

#left {
	width: 900px;
	float: left;
	padding-right: 4.5px;
	border-right: 1px solid #333;
}

#right {
	width: 900px;
	float: right;
	padding-left: 4.5px;

}

#font{
	
	font-size:small;
	color: #5D5D5D;
	width: 500px;
	line-height: 150%;
	font-family: 돋움;
}


#home
{
	width: 500px;
	float: right;
	
}