@CHARSET "UTF-8";

body, p, div, span, input, table, th, td, select 
{
	font-size: 18px;
	color: #343;
	font-family: Malgun Gothic;
}


.control 
{
	border: 1px solid gray;
	border-radius: 3px;
}


.table 
{
	border-collapse: collapse;
	width: 100%;
}

.table th, .table td 
{
	border: 1px solid gray;
	border-left: 0px;
	border-right: 0px;
	
	padding: 3px;
	line-height: 150%;
}

.table th 
{
	font-weight: bold;
	background-color: #EEE;
}

th
{
	background-color: #B9D7FC;
}

.input
{
	width: 270px;
}
