@CHARSET "UTF-8";

.story
{
	width: 1200px;

	align: center;	
	margin: 0 auto; 
	border: 2px solid #36D7B7;
	background-color:#36D7B7;
	position:relative; 
}

.story a
{
	text-decoration:none;
	font-color:#36D7B7;
	font-weight:bold;
}

.submitBtn
{
	align: right;
	width: 120px;
	font-size: 14px;
	color: #343;
	font-family: Malgun Gothic;
		float: right;
}

.storyTable
{
	width: 1200px;
	height: 30px;	
	border-top: 1px solid white;	
	background-color:white;
	font-size: 15px;
}
.storyTable td
{
	
	border-right: 1px solid #36D7B7;	

}

.storyTable a
{
	text-decoration: none;
	color: #36D7B7;
	font-weight:bold
}

.storyTable a:hover {
	text-decoration: underline;
}
.bottom
{
	width: 1200px;
	height: 300px;
	
	border-top: 0px;
	
	border: 2px solid #36D7B7;
	background-color:white;
	
	margin: 0 auto; 
}

.memberupdate
{
	width:1200px;
	height: 400px;
	
	border: 2px solid #36D7B7;
	background-color:white;
	
	border-top: 0px;
	
	align: center;
	
	margin: 0 auto; 
	margin-top: 10;
	
	padding: 0px;	
	position:relative; 
}

.memberupdate table 
{
	width:1200px;

}

.memberupdate table th
{
	text-align:left;
	font-size:13px;
	color:#36D7B7;
	padding-top:5px;

}

.memberupdate table td
{
	font-size:13px;
	padding-top:5px;

}

.memberupdate input
{
	font-size:13px;
	padding-top:5px;
	width:250px;

}

.letter
{
	width: 1200px;
	height: 35px;	
	margin: 0 auto; 	
	border: 2px solid #36D7B7;
	background-color:#36D7B7;

}
.mateList 
{
	border: 2px solid #36D7B7;
	border-bottom: 2px solid #36D7B7;
	background-color:white;
	width:435px;
}
.mateAdd
{
	font-size:13px;
}

.mateAddInput
{
	width:70px;
	border-top:0px;
	border-left:0px;	
	border-right:0px;	
	border-bottom: 2px solid #36D7B7;
	background-color:white;
	margin:5px;
}

.mateAddheader
{
	color:white;
	font-weight:bold;
	border: 2px solid #36D7B7;
	background-color:#36D7B7;
	width:427px;
}

.mateAddTop
{
	margin:10px;
	border: 2px solid #36D7B7;
	background-color:white;
	width:430px;
	
}

.myStrotyList
{
	width:1200px;
	padding:0;
}


.container
{
	margin: 0px auto;
	width: 1200px;
	
}
.center{
	
	margin: 0 auto;
}

.form1{
	padding-bottom: 50px;
	
}

a{ }
